@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', '微軟正黑體';
}

html,
body {
  overflow-x: hidden;
}

nav.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 2px solid #ececec;
  background-color: #ececec;
}

nav.navbar a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.navbar a:hover {
  color: #616161;
}

nav.navbar.at_top {
  background-color: transparent;
}

nav.navbar .navbar-nav {
  margin-left: 70%;
}

header {
  position: relative;
  background-color: #282f44;
  text-align: center;
}

header .icon {
  width: 80%;
  max-width: 250px;
  padding: 250px 0px;
}

header .marginbottom.mountain {
  position: absolute;
  width: 90%;
  bottom: 0;
  right: 0;
  -webkit-animation: upin 1.5s both;
          animation: upin 1.5s both;
}

@-webkit-keyframes upin {
  0% {
    bottom: -10%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes upin {
  0% {
    bottom: -10%;
  }
  100% {
    bottom: 0;
  }
}

header .explore {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16px;
  color: #f5d061;
  top: 85%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .explore:after {
  display: block;
  content: "v";
  -webkit-transform: scaleX(2) scaleY(1);
          transform: scaleX(2) scaleY(1);
}

header .explore.at_top {
  opacity: 1;
}

section {
  padding: 60px;
  position: relative;
  background-color: #E6AF2E;
}

section #section_about .container {
  -webkit-transform: rotate(15deg) scale(0.9);
          transform: rotate(15deg) scale(0.9);
}

section #section_about .row {
  height: 500px;
  color: black;
}

section #section_about .row .r1text {
  font-size: 4.5rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

section #section_about .row .r2text {
  font-size: 2.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section #section_about .row .r3text {
  font-size: 3rem;
  text-align: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section #section_about .row .tri {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

section #section_about .row .tri1 {
  width: 350px;
}

section #section_about .row .tri2 {
  width: 20px;
  margin-left: 20px;
}

section #section_about .row .tri3 {
  width: 100px;
  margin-left: 70%;
}

section #section_about .row .tri4 {
  width: 70px;
  margin-left: 100%;
}

section #section_about .row .tri5 {
  width: 80px;
  margin-left: 100%;
}

section #section_about .cat {
  width: 30%;
  max-width: 300px;
  position: absolute;
  bottom: -2px;
  right: 25px;
}

section #section_about .marginbottom {
  position: absolute;
  width: 60%;
  top: calc(100% - 2px);
  z-index: 3;
}

section #section_about .btn-area {
  height: 150px;
}

section #section_about .btn-area a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section #section_about #cross {
  position: absolute;
  z-index: 5;
  pointer-events: none;
}

#section_service {
  background-color: #ececec;
  padding: 0;
}

#section_service h1 {
  background-color: #282f44;
  color: #ececec;
  font-size: 1.5rem;
  display: inline-block;
  padding: 5px 20px;
}

#section_service .col-sm-4 {
  text-align: center;
}

#section_service h3 {
  color: #E6AF2E;
}

#section_service .icon_service {
  width: 80%;
}

#section_works {
  background-color: #ececec;
  padding-top: 0;
}

#section_works h1 {
  background-color: #282f44;
  color: #ececec;
  font-size: 1.25rem;
  padding: 6px 25px;
  display: inline-block;
}

#section_works .marginbottom {
  position: absolute;
  width: 90%;
  right: 0px;
  top: calc(100% - 2px);
  z-index: 3;
  max-width: 900px;
}

#section_works .col-sm-6 {
  overflow: hidden;
}

#section_works .work {
  height: 230px;
  cursor: pointer;
  position: relative;
  padding: 5px;
}

#section_works .work.big {
  height: 460px;
}

#section_works .work:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section_works .work .texts {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
  color: #ececec;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section_works .work .title {
  line-height: 24px;
}

#section_works .work:hover:before, #section_works .work:hover .texts {
  opacity: 1;
}

#section_works .work img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#section_contact {
  background-color: #282f44;
  color: #ececec;
  overflow: hidden;
}

#section_contact .mails {
  height: 500px;
}

#section_contact .mails .mailbody {
  background-color: #ececec;
  color: #282f44;
  padding: 20px;
  padding-left: 10%;
  position: absolute;
  width: 80%;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

#section_contact .mails .mailbody h5 {
  font-size: 2rem;
}

#section_contact .mails .mailcover {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 8%;
  -webkit-transform: rotate(5deg) scale(2.2) translate(-50%, -50%);
          transform: rotate(5deg) scale(2.2) translate(-50%, -50%);
}

#section_contact .mails .mailcover img {
  width: 120%;
}

#section_contact .mails input, #section_contact .mails textarea {
  display: block;
  background-color: transparent;
  border: none;
  border: 3px solid #282f44;
  width: 80%;
  margin-bottom: 15px;
}

#section_contact .mails textarea {
  height: 100px;
  width: 80%;
  resize: none;
}

#footer {
  background-color: #E6AF2E;
  text-align: center;
}

#footer .icon {
  width: 100%;
  max-width: 250px;
  padding: 80px 0px;
}
/*# sourceMappingURL=style.css.map */