// 顏色定義
$color_blue: #282f44;
$color_brown: #E6AF2E;
$color_yellow: #f5d061;
$color_white: #ececec;

// -------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', '微軟正黑體';
    border: solid 1px !important;
}
// debug
header{
    display: none;
}
.navbar{
    display: none;
}

@mixin ab_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

html,
body {
    overflow-x: hidden;
    // 讓圖片超出框架的左右時隱藏防止移動
    height: 200vh;
}

// navbar
.navbar-nav{
    margin-left: 70%;
}
nav.navbar {
    transition: 0.5s;
    border-bottom: 1px solid $color_white;
    a{ 
        transition: 0.5s;
        color: #fff;
        &:hover{
            color:rgb(97, 97, 97);
        } 
    }
    &.at_top{
        background-color:transparent;
        color: #fff;
    }
}

// header
header {
    position: relative;
    background-color: $color_blue;
    text-align: center;

    .icon {
        width: 80%;
        max-width: 250px;
        padding: 250px 0px;
    }

    .marginbottom {
        position: absolute;
        width: 90%;
        bottom: 0;
        right: 0;
        animation: upin 1.5s both;
        // upin向上浮動出來，
    }

    @keyframes upin {
        0% {
            bottom: -10%;
        }

        100% {
            bottom: 0;
        }
    }

    .explore {
        @include ab_center();
        font-size: 16px;
        color: $color_yellow;
        top: 85%;
        opacity: 0;
        transition: all 0.5s;

        &:after {
            display: block;
            content: "v";
            transform: scaleX(2) scaleY(1);
        }
        &.at_top{
              opacity: 1;
        }
    }
}

section {
    padding: 60px;
    position: relative;
    background-color: $color_brown;
    #section_about {
        .container {
            transform: rotate(15deg) scale(0.9);
        }

        .row {
            height: 500px;
            color: black;
            .r1text{
                font-size: 4.5rem;
                transition: 0.1s;
            }

            .r2text {
                font-size: 2.5rem;
                transition: 0.2s;
            }

            .r3text {
                font-size: 3rem;
                text-align: right;
                transition: 0.3s;
            }
            .tri {
                transform: rotate(-15deg);
            }
            .tri1 {
                width: 350px;
            }

            .tri2 {
                width: 20px;
                margin-left: 20px;
            }

            .tri3 {
                width: 100px;
                margin-left: 70%;
            }

            .tri4 {
                width: 70px;
                margin-left: 100%;
            }

            .tri5 {
                width: 80px;
                margin-left: 100%;
            }
        }

        // .cat {
        //     width: 30%;
        //     max-width: 300px;
        //     position: absolute;
        //     bottom: -2px;
        //     right: 25px;
        // }
        // .marginbottom{
        //     position: absolute;
        //     width: 60%;
        //     top: calc(100% - 2px);
        //     z-index: 3;
        // }
        // .btn-area {
        //     height: 150px;
        // }

        // a {
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%,-50%);
        // }

        // #cross {
        //     position: absolute;
        //     z-index: 5;
        //     pointer-events: none;
        // }

        
    }
}